

/*======================================
Styling for body
========================================*/
body{
  background-color:white;
  text-align:center;
  font-family:Tahoma;
}


/*======================================
Styling for anchor tags
========================================*/
a{
    font-family: Tahoma;
    font-size:20px;
    color:red;

}


/*==============================================
Styling for home, login and register page
================================================*/


/*Error display*/
.errors{
    font-family:Tahoma;
    font-weight:bold;
}


/*Forms for registering/login*/
.form-group{
    text-align:center;

}

/*Login and Register buttons*/
.btn-btn-primary{
    background-color:yellow;
    color:black;
    text-align:center;
    font-size: 20px;

}


/*Labels and input boxes*/
label {
    display: block;
    margin-bottom:10px;
    font-size:25px;
    font-weight:bold;
}

input{
    margin-bottom: 15px;
}


/*User options for tasks*/


li, a .user-options{

    font-color: black;
}
h1 .msg{
    display:block;
    font-size:100px;
    margin-top:100px;
    margin-bottom:100px;

}

/*color for completed tasks*/
.completed {
    color:blue;
    font-family: Tahoma;
}
